
body {
  font-family: "highest-praise", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  color: black;
}

button, h1, h3, h4, p {
  color: black !important;
}

.game-area {
  min-height: 100vh;
  padding-top: 20px;
  background-color: #A12425;
}


.character-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-head {
  width: 92%;
  margin-bottom: 10px;
}

.label-text {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.big-hand {
  width: 220px;
  margin-bottom: 20px;
}

.choose-text {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.UserChoice img {
  width: 80px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s;
  overflow: hidden;
}

.UserChoice img:hover {
  transform: scale(1.1);
}

.UserChoice.disabled img {
  cursor: default;
}

.center-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-text {
  font-size: 310%;;
  line-height: 1.4;
}

.vs-text {
  font-size: 600%;
}

.winner-msg {
  font-size: 1.8rem;
  margin-top: 10px;
}

.castle {
  width: 160px;
  margin-top: 0;
  margin-bottom: 12px;
}


.gender-screen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: #A12425;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
    }

    .gender-box {
      background: #A12425;
      padding: 50px;
      border-radius: 15px;
    }

    .gender-box h1 {
      font-size: 2.5rem;
    }

    html, body {
      background-color: #A12425;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }


    .gender-box button {
  background-color: white;
  color: black !important;
  border: 3px solid black;
  transition: all 0.3s ease;
}


.gender-box button:hover {
  transform: scale(1.1);
  background-color: black;
  color: white !important;
  box-shadow: 0 0 25px #ff0000;
}

.gender-box button:active {
  transform: scale(0.95);
}