body {
  font-family: "highest-praise", sans-serif !important;
  background-color: #A12425;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: black;
}

.game-area {
  min-height: 100vh;
  padding-top: 20px;
  background-color: #A12425;
}

.character-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-head {
  width: 90%;
  margin-bottom: 10px;
}

.big-hand {
  width: 220px;
  margin-bottom: 20px;
}

.UserChoice img {
  width: 80px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.UserChoice img:hover {
  transform: scale(1.1);
}

.center-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard {
  display: flex;
  gap: 40px;
  margin: 20px 0;
}

.score-box {
  background: white;
  padding: 15px 25px;
  border-radius: 15px;
  border: 3px solid black;
  min-width: 120px;
}

.score-box h4 {
  margin: 0;
}

.score-box p {
  font-size: 2rem;
  margin: 5px 0 0 0;
  font-weight: bold;
}

.match-winner {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 15px 0;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px black;
}

.reset-btn {
  background: white;
  border: 3px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: 
  transform 0.3s ease,
  box-shadow 0.3s ease,
  background 0.3s ease;
}

.reset-btn:hover {
   transform: 
    rotateX(15deg)
    rotateY(-15deg)
    translateY(-12px)
    scale(1.1);

  background: black;
  color: white;

  box-shadow:
    0 15px 0 black,
    0 25px 40px rgba(0,0,0,0.6);
}


.reset-btn:active {
  transform: 
    rotateX(5deg)
    rotateY(-5deg)
    translateY(-4px)
    scale(1.05);

  box-shadow:
    0 6px 0 black,
    0 12px 20px rgba(0,0,0,0.4);
}

.gender-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #A12425;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


@keyframes confetti-fall {
  0% { transform: translateY(0) rotate(0deg); opacity: 1; }
  100% { transform: translateY(800px) rotate(360deg); opacity: 0; }
}

.confetti {
  position: fixed;
  width: 10px;
  height: 10px;
  top: -20px;
  pointer-events: none;
  animation: confetti-fall linear forwards;
}

.gender-btn {
  background: #ffffff;      
  color: #000;            
  font-family: "highest-praise", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 15px 35px;
  margin: 10px;
  border: 3px solid #000;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 5px 0 #000; 
  position: relative;
}


.gender-btn:hover {
  transform: translateY(-5px) scale(1.15) rotate(-3deg);
  background: linear-gradient(45deg, #c7c6c6, #ce0000); 
  color: #fff;
  text-shadow: 1px 1px 5px #000;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}


.gender-btn:active {
  transform: translateY(2px) scale(1.05) rotate(0deg);
  box-shadow: 0 3px 0 #000;
}